.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button--menu {
  flex: 0 0 auto;

  height: 48px;
  padding: 0 var(--space-4);
}

.button--search {
  gap: var(--space-1);

  flex: 0 0 auto;

  height: 32px;
  padding: 0 var(--space-2);

  background: var(--color-brand-primary);
  border-radius: var(--radius-lg);
}

.button--close {
  gap: var(--space-1);

  height: 48px;
  padding: 0 var(--space-4);
}
