.nav {
  border-bottom: 1px solid var(--color-border-default);
}

.nav--sticky {
  position: sticky;
  top: 0;
  z-index: var(--z-navigation);
}

.nav__inner {
  display: flex;
  align-items: center;
  
  width: 100%;
  padding: var(--space-1) var(--space-4) var(--space-1) 0;
}
