.search-overlay__header {
  border-bottom: 1px solid var(--color-border-default);
}

.search-overlay__header-inner {
  display: flex;
  align-items: center;

  padding: var(--space-1) 0 var(--space-1) var(--space-4);
}
