.menu-overlay__header {
  border-bottom: 1px solid var(--color-border-default);
}

.menu-overlay__header-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  padding: var(--space-1) 0;
}
