html,
body {
  min-height: 100vh;
}

body {
  background: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
}

#app {
  min-height: 100vh;
}

input::placeholder {
  color: var(--color-text-muted);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

